{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"
        href="https://cdn.discordapp.com/icons/715958380556058684/773d6583cd1d7aef41e701783d353aef.webp?size=128"
        type="image/x-icon">
    <meta name="description" itemprop="description"
        content="Play your playlists and favourites tracks, albums, and artists" />
    <meta name="keywords"
        content="convert, convert playlists, transfer, syncing, smart links, free, apple music, streaming services" />
    <link rel="stylesheet" href="{% static 'formStyle.css' %}">
    <title>Youttify</title>
</head>
<script>
    function checkPassword(form) {
        const confirm_password = document.getElementById("cpwd");
        var password = document.getElementById("pwd").value;
        console.log(password)
        if (password != confirm_password.value) {
            confirm_password.setCustomValidity("Password did not match");
        } else {
            confirm_password.setCustomValidity("");
        }
    }
</script>

<body>


    <div class="signup_header">
        <a href="" target="_blank">
        </a>
    </div>

    <div class="signup_body">
        <form class="login_form" method='POST' enctype="multipart/form-data">
            {% csrf_token %}

            <span class='label signup-title center-align'>Sign up for free to start listening.</span>
            <label for="{{ form.usename.id_for_label }}" class="label">
                What's your name?{% if username %}
                <span style="color:#f79862;">Username already exists</span>
                {% endif %}
            </label>

            <input type="text" class="form_input" name="{{ form.username.name }}" id="{{ form.username.id_for_label }}"
                pattern="[A-Za-z]+" placeholder="Enter your name." required>

            {% for error in form.username.errors %}
            <div class="error-message">{{ error }}</div>
            {% endfor %}

            <label for="{{ form.email.id_for_label }}" class="label">
                What's your email?{% if email %}
                <span style="color:#f79862;">Email already exists</span>
                {% endif %}
            </label>

            <input type="email" class="form_input" name="{{ form.email.name }}" id="{{ form.email.id_for_label }}"
                placeholder="Enter your email." required>

            {% for error in form.email.errors %}
            <div class="error-message">{{ error }}</div>
            {% endfor %}

            <label for="{{ form.password1.id_for_label }}" class="label">
                Create a password
            </label>
            <input type="password" class="form_input" id="{{ form.password1.id_for_label }}"
                name="{{ form.password1.name }}" placeholder="Create a password." required>

            {% for error in form.password1.errors %}
            <div class="error-message">{{ error }}</div>
            {% endfor %}

            <label for="{{ form.password2.id_for_label }}" class="label">
                Confirm your password
            </label>
            <input type="password" class="form_input" id="{{ form.password2.id_for_label }}"
                name="{{ form.password2.name }}" oninput="checkPassword(this)" placeholder="Re-type your password"
                required>

            {% for error in form.password2.errors %}
            <div class="error-message">{{ error }}</div>
            {% endfor %}

            <button class='btn btn_log_in' type="submit">Sign up</button>
            {% for error in form.non_field_errors %}
            <div class="error-message">{{ error }}</div>
            {% endfor %}


            <div class="divider"></div>
            <p class='label center-align'>Already have an account? <a href="/accounts/login">Log in</a>.</p>



        </form>

        <!-- <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Register</button>
          </form> -->
    </div>

</body>

</html>