{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"
        href="https://cdn.discordapp.com/icons/715958380556058684/773d6583cd1d7aef41e701783d353aef.webp?size=128"
        type="image/x-icon">
    <meta name="description" itemprop="description"
        content="Play your playlists and favourites tracks, albums, and artists " />
    <meta name="keywords"
        content="convert, convert playlists, transfer, syncing, smart links, free, apple music, streaming services" />
    {% block css %}
    <link rel="stylesheet" href="{% static 'formStyle.css' %}">
    {% endblock %}
    <title>Youttify</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>Registration</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="form-group">
                        {{ form.username.label_tag }}
                        {{ form.username }}
                        {{ form.username.errors }}
                    </div>
                    <div class="form-group">
                        {{ form.password1.label_tag }}
                        {{ form.password1 }}
                        {{ form.password1.errors }}
                    </div>
                    <div class="form-group">
                        {{ form.password2.label_tag }}
                        {{ form.password2 }}
                        {{ form.password2.errors }}
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
                <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
            </div>
        </div>
    </div>
</body>

</html>